@use 'utilities/sizes';

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Roboto', sans-serif;
	font-size: 62.5%;
	scroll-behavior: smooth;
}

//  <--  Navigation starts here  --->

.nav {
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
	min-width: 300px;
	background-color: rgb(241, 240, 240);

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1400px;
		margin: 0 auto;
	}

	&__left-box {
		margin: 0 1em;
		font-size: 2.7rem;
	}

	&__bars-icon {
		padding: 0.8em 1em;
		font-size: 2.7rem;

		&:hover {
			cursor: pointer;
		}
	}

	&__items-container {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		display: flex;
		height: 100vh;
		justify-content: center;
		align-items: center;
		transform: translate(100%);
	}

	&__items-box {
		width: 100%;
	}

	&__item {
		margin-top: 2.5em;
		font-size: 2.5rem;
		text-align: center;
		list-style: none;

		a {
			color: #000;
			text-decoration: none;
		}
	}
}

//  <---  header starts here  --->

.header {
	&__img {
		position: relative;
		height: 100vh;
		background-image: url(/dist/img/header_640.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		z-index: 0;
	}

	&__shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: -10;
	}

	&__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		z-index: 10;
	}

	&__text-box {
		padding: 2em;
		color: #fff;

		h1 {
			font-size: 5rem;
			font-weight: 500;
		}

		p {
			margin-bottom: 0.4em;
			font-size: 3rem;
			font-weight: 200;
		}
	}
}

//  <---  about-us starts here  --->

.aboutus {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	min-width: 300px;
	margin: 0 auto;

	&__container {
		max-width: 1400px;
	}

	&__title {
		padding: 1.2em 0 0.8em 0;
		font-size: 2.8rem;
		font-weight: 300;
		text-transform: uppercase;
	}

	&__box {
		padding: 0 4em;
	}

	&__article-title {
		margin-top: 1em;
		margin-bottom: 0.8em;
		font-size: 2rem;
		font-weight: 700;
	}

	&__article-text {
		margin-bottom: 1em;
		font-size: 1.6rem;
		font-weight: 300;
	}

	img {
		width: 100%;
	}
}

.adventure {
	min-width: 300px;
	margin-top: 3em;
	color: #fff;

	&__hero {
		position: relative;
		background-image: url('/dist/img/adventure_640.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		height: 35vh;
		z-index: 0;
	}

	&__shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.4);
		z-index: -10;
	}

	&__text {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		z-index: 10;

		h1 {
			min-width: 250px;
			padding: 0.6em 0.8em;
			// padding: .6em 3.5em;
			border: 1px solid #fff;
			font-size: 2rem;
			// font-size: 5rem;
			text-align: center;
			font-weight: 400;
		}
	}
}
